<!--/.row-->
<div class="row">
  <c-col [md]="12">
    <div class="card">
      <c-card-header>
        <strong>Filtrar Parceiros</strong>
      </c-card-header>

      <form cForm [formGroup]="formFilter" class="row g-3">
        <div class="card-body">
          <div class="form-group row">
            <div class="form-group row">
              <c-col [md]="4">
                <label cLabel for="prependedInput">Nome</label>
                <input class="full-control" id="name" placeholder="Todos" formControlName="name" />
              </c-col>
              <c-col [md]="6">
                <label cLabel for="prependedInput">Descrição</label>
                <input class="full-control" id="description" placeholder="Todos" formControlName="description" />
              </c-col>
              <c-col [md]="2">
                <label cLabel for="isActive">Ativos/Inativos</label>
                <select class="full-select" formControlName="active" id="active">
                  <option selected="true" value="todos">Todos</option>
                  <option value="ativos">Somente ativos</option>
                  <option value="inativos">Somente inativos</option>
                </select>
              </c-col>
              <br>
              <c-col [md]="2">
                <label cLabel for="itemsByPage" style="padding-top: 15px;">Itens por página</label>
                <select class="full-select" formControlName="itemsByPage" id="itemsByPage">
                  <option selected="true" value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
              </c-col>
              <c-col [md]="2" style="padding-top: 47px;">
                <label cLabel for="prependedInput"></label>
                <button class="me-1" style="font-size: 15px; background-color:black; border: 0;" cButton type="submit"
                  (click)="filterView(formFilter.value, firstPage)"><svg cIcon class="me-2" name="cil-search"></svg>
                  Pesquisar</button>
              </c-col>
            </div>
          </div>
        </div>
      </form>
    </div>

  </c-col>
  <!--/.col-->
</div>
<!--/.row-->
<br>
<!--/.row-->
<div class="row">
  <c-col [md]="12">
    <div class="card">
      <c-card-header>
        <strong>Resultado da pesquisa</strong> <small>  </small>
        <button size="sm" active="active" class="me-1" style="font-size: 15px; background-color:black; border: 0;"
          cButton (click)="redirectTo('/documentpartners/maintenance')"><svg cIcon class="me-2" name="cil-plus"></svg>
          novo</button>
      </c-card-header>
      <div class="card-body">
        <table [hover]="true" [striped]="true" cTable>
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Descrição</th>
              <th scope="col">Ativo?</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr scope="row" *ngFor="let item of pagedItems">
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>
                <c-form-check sizing="lg" switch>
                  <input cFormCheckInput type="checkbox" checked *ngIf="item.active" />
                  <input cFormCheckInput type="checkbox" *ngIf="!item.active" />
                  <label cFormCheckLabel *ngIf="item.active">Ativo</label>
                  <label cFormCheckLabel *ngIf="!item.active">Inativo</label>
                </c-form-check>
              </td>
              <td style=" display: flex;
                              flex-direction: column;
                              flex-wrap: wrap;
                              align-content: center;">
                <button size="sm" active="active" class="me-1" color="a" style="background-color:rgba(255, 127, 22, 0.78);"
                  cButton (click)="redirectUpdate('/documentpartners/maintenance', item.id)"><svg cIcon class="me-1"
                    name="cil-Pen"></svg></button>
                <button size="sm" active="active" class="me-1" style="background-color: rgba(227, 98, 0, 0.829);"  cButton
                  (click)="prepareDelete(item.id, item.name)"><svg cIcon class="me-1" name="cil-Trash"></svg></button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
                <app-custom-pagination (callNavitation)="filterView(formFilter.value, $event)" [pager]=pager>
                </app-custom-pagination>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </c-col>
  <!--/.col-->
</div>
<!--/.row-->
<ngx-spinner type="ball-fall">
  <p style="font-size: 20px; color: white">Aguarde...</p>
</ngx-spinner>

<app-custom-modal (closeModal)="canceldelete()" (cancelModal)="canceldelete()" (confirmModal)="confirmdelete()"
  [showModal]="setModalVisible" title="{{modalTitle}}" body="{{modalBodyDetail}}">
</app-custom-modal>