<div class="animated fadeIn">
  <c-toaster class="p-3"></c-toaster>
  <!--/.row-->
  <div class="row">
    <c-col [md]="12">
      <div class="card">
        <c-card-header>
          <strong>{{ action }} Tipo do documento</strong>
        </c-card-header>

        <div class="card-body">
          <form [formGroup]="formDocumentType" noValidate cForm class="needs-validation">

            <div class="form-group row">
              <c-col [md]="4">
                <label cLabel for="name">Nome</label>
                <input class="full-control" id="name" placeholder="Nome" type="text" formControlName="name" />
              </c-col>
              <c-col [md]="6">
                <label cLabel for="description">Descrição</label>
                <input class="full-control" id="description" placeholder="Descrição" type="text"
                  formControlName="description" />
              </c-col>
              <c-col [md]="2">
                <c-row>
                  <label cLabel for="active">Inativo/Ativo</label>
                </c-row>
                <c-row>
                  <label class="switch">
                    <input type="checkbox" formControlName="active" id="active">
                    <span class="slider round"></span>
                  </label>
                </c-row>
              </c-col>
            </div>

            <div class="form-group row">
              <c-col [md]="3">
              </c-col>
            </div>
          </form>
        </div>

        <div class="card-footer">
          <button type="submit" size="sm" active="active" class="me-1" style="background-color:rgba(255, 127, 22, 0.78);" cButton
            (click)="saveChanges(formDocumentType.value)" [disabled]="!formDocumentType.valid"><svg cIcon class="me-1"
              name="cil-save"></svg> Gravar</button>
          <button type="submit" size="sm" active="active" class="me-1" style="background-color: rgba(227, 98, 0, 0.829);" cButton
            (click)="prepareDelete()"><svg cIcon class="me-1" name="cil-trash"></svg> Excluir</button>

        </div>
      </div>
    </c-col>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
<ngx-spinner type="ball-fall">
  <p style="font-size: 20px; color: white">Aguarde...</p>
</ngx-spinner>

<app-custom-modal (closeModal)="canceldelete()" (cancelModal)="canceldelete()" (confirmModal)="confirmdelete()"
  [showModal]="setModalVisible" title="{{modalTitle}}" body="{{modalBodyDetail}}">
</app-custom-modal>