<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col lg="7" md="9" xl="6">
          <c-card class="mx-4">
            <c-card-body class="p-4">
              <form cForm>
                <h1>Conta</h1>
                <p class="text-medium-emphasis">Informe os dados para recuperar sua conta</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="name" cFormControl placeholder="Username"  name="username" id="username"/>
                </c-input-group>
                <c-input-group class="mb-3">
                  <span cInputGroupText>@</span>
                  <input autoComplete="email" cFormControl placeholder="Email" name="email" id="email"/>
                </c-input-group>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input autoComplete="new-password" cFormControl placeholder="Password" type="password" name="password" id="password"/>
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input autoComplete="new-password" cFormControl placeholder="Repeat password" type="password" name="passwordConfirm" id="passwordConfirm"/>
                </c-input-group>
                <div class="d-grid">
                  <button cButton color="success" (click)='recoveryAccount()'>Recuperar Conta</button>
                </div>
              </form>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
      <c-row class="justify-content-center" id="colerror" style="display: none;">
        <c-col md="8">
           <div class="alert alert-danger" role="alert" id="dvAlert">As senhas não conferem...</div>
        </c-col>
      </c-row>    
    </c-container>
  </div>
  