<div class="row">
    <c-col [md]="12">
        <div class="card">
            <c-card-header>
                <strong>Usuários</strong> <small>  </small>
            </c-card-header>
            <div class="card-body">
                <table [hover]="true" [striped]="true" cTable>
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Autorização</th>
                            <th scope="col">Ativo?</th>
                            <th scope="col">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row" *ngFor="let item of pagedItems">
                            <td>{{item.userName}}</td>
                            <td>{{item.email}}</td>
                            <td><div *ngIf="item.userAutorization == 1">Sender</div>
                                <div *ngIf="item.userAutorization == 2">Viewer</div>
                                <div *ngIf="item.userAutorization == 3">Admin</div>
                            </td>
                            <td>
                                <c-form-check sizing="lg" switch>
                                    <input cFormCheckInput type="checkbox" checked *ngIf="item.active" />
                                    <input cFormCheckInput type="checkbox" *ngIf="!item.active" />
                                    <label cFormCheckLabel *ngIf="item.active">Ativo</label>
                                    <label cFormCheckLabel *ngIf="!item.active">Inativo</label>
                                </c-form-check>
                            </td>
                            <td style=" display: flex;
                                flex-direction: column;
                                flex-wrap: wrap;
                                align-content: center;">
                                <button size="sm" active="active" class="me-1" color="a"
                                    style="background-color: rgb(238, 255, 0);" cButton
                                    (click)="redirectUpdate('/user/maintenance', item.id)"><svg cIcon
                                        class="me-1" name="cil-Pen"></svg></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </c-col>
    <!--/.col-->
</div>
<!--/.row-->
<ngx-spinner type="ball-fall">
    <p style="font-size: 20px; color: white">Aguarde...</p>
</ngx-spinner>
